<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1 style="text-align:center">
				<div id="syllabest">
					Sylla<span class="accent">best</span>.
				</div>
			</h1>
		</div>
	</div>
	<div class="row user_prompt", id="which_user">
		<div class="col-md-12 col-sm-12">
			<div class="row" id="returning_user">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-2 col-sm-2 prompt">
					Returning User?
				</div>
				<div class="col-md-2 col-sm-2 accent" id="sign_in"> 	
					<%= link_to "Sign In", signin_path %>
				</div>
				<div class="col-md-4 col-sm-4"></div>
			</div>
			<div class="row" id="new_account">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-2 col-sm-2 prompt">New User?</div>
				<div class="col-md-2 col-sm-2 accent" id="get_started">
					<%= link_to "Get Started", "/signup" %>
				</div>
				<div class="col-md-4 col-sm-4"></div>
			</div>
		</div>
	</div>
	<div class="row cc_license">
		<div class="col-md-12 col-sm-12">
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png", class="cc_img" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Syllabest</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
		</div>
	</div>
</div>
