<%= stylesheet_link_tag "splash" %>
<%= javascript_include_tag "splash" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1>
				<div id="syllabest">
					Sylla<span class="accent">best</span>.
				</div>
			</h1>
		</div>
	</div>
	<div class="row user_prompt", id="which_user">
		<div class="col-md-12 col-sm-12">
			<div class="row" id="returning_user">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-2 col-sm-2 prompt">
					Returning User?
				</div>
				<div class="col-md-2 col-sm-2 accent" id="sign_in"> 	<%= link_to "Sign In", signin_path %>
				</div>
				<div class="col-md-4 col-sm-4"></div>
			</div>
			<div class="row" id="new_account">
				<div class="col-md-4 col-sm-4"></div>
				<div class="col-md-2 col-sm-2 prompt">New User?</div>
				<div class="col-md-2 col-sm-2 accent" id="get_started">
					<%= link_to "Get Started", "/signup" %>
				</div>
				<div class="col-md-4 col-sm-4"></div>
			</div>
		</div>
	</div>
</div>
