<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Welcome to Syllabest, <%= @user.first_name %>!</h1>
    <p>You have succesfully signed up for Syllabest! We think Syllabest is great product, and we hope you do too! </p>
    <p> You can login <a href='http://gemini.cs.hamilton.edu:3008'>here</a></p>
    <p>Thanks from everyone at Syllabest. Enjoy!</p>
    <p>-The Syllabest Team</p>
  </body>
</html>

