<div class="containter-fluid">
	<div class="row">
		<div class="col-md-1">
			<i class="fa fa-reply">Back</i>
		</div>
		<div class="col-md-1 col-md-offset-10">
			<i class="fa fa-plus">New Section</i>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="syllabus">
			</div>
		</div>
	</div>
</div>