<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h1 id="syllabest">Sylla<span class="accent">best</span>.</h1>
		</div>
		<div class="col-md-6">
			<div id="account" class="accent">
				First Last
				<i class="fa fa-caret-down" id="show_user_menu"></i>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" id="back">
			<span id="back_button"><i class="fa fa-reply" id="back_arrow"></i>Back</span>
		</div>
		<div class="col-md-6" id="new_section">
			<span id="new_section_button"><i class="fa fa-plus" id="plus_sign"></i>New Section</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="syllabus">
				<div class="row">
					<div class="col-md-12" id="header">
						<h1><%= syllabus.get("title") %></h1>
						<h3><%= syllabus.get("department") + ' ' + syllabus.get("course_num") %></h3>
						<h5><%= syllabus.get("term") %></h5>
					</div>
				</div>
			</div>
		</div>
		<button id="add_component">Add Component</button>
	</div>
</div>