<h1> Displaying all users </h1>
<table>
	<tr>
		<th> Name </th>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= link_to 'View', user_path(user) %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Create new user', new_user_path %>