<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h1 id="syllabest">Sylla<span id="best">best</span>.</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover" id="users">
				<tr class="active">
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>School</th>
					<th>Office</th>
					<th></th>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-default" id="add_user">Add User</button>
		</div>
	</div>
</div>

