<h1>Syllabest</h1>


<table class="table table-hover" id="users">
	<tr class="active">
		<th>First Name</th>
		<th>Last Name</th>
		<th>School</th>
		<th>Office</th>
	</tr>
</table>

<button type="button" id="add_user_form">Add User</button>

