<form role="form" id="new_user">
	<div class="form-group">
		<label for="new_user_fname">First Name</label>
		<input type="text" class="form-control" id="new_user_fname" placeholder="ex: Joel">
	</div>
	<div class="form-group">
		<label for="new_user_lname">Last Name</label>
		<input type="text" class="form-control" id="new_user_lname" placeholder="ex: Winkelman">
	</div>
	<div class="form-group">
		<label for="new_user_email">Email</label>
		<input type="text" class="form-control" id="new_user_email" placeholder="ex: jwinkelm@hamilton.edu">
	</div>
	<div class="form-group">
		<label for="new_user_password">Password</label>
		<input type="password" class="form-control" id="new_user_password" placeholder="ex: abc123">
	</div>
	<div class="form-group">
		<label for="new_user_school">School</label>
		<input type="text" class="form-control" id="new_user_school" placeholder="ex: Hamilton College">
	</div>
	<div class="form-group">
		<label for="new_user_office">Office</label>
		<input type="text" class="form-control" id="new_user_office" placeholder="ex: KJ 137">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
	<button class="btn btn-default" id="cancel_form">Cancel</button>
</form> 