<form id="new_user">
      <input type="text" label="first_name" id="new_user_fname">
      <input type="text" name="last_name" id="new_user_lname">
      <input type="text" name="email" id="new_user_email">
      <input type="text" name="password" id="new_user_password">
      <input type="text" name="school" id="new_user_school">
      <input type="text" name="office" id="new_user_office">
      <input type="submit" value="Create">
</form> 