<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h1 id="syllabest">Sylla<span id="best">best</span>.</h1>
		</div>
		<div class="col-md-2 col-md-offset-8">
			<div id="account">
				<%= user.get("first_name") + ' ' + user.get("last_name") %>
				<i class="fa fa-caret-down" id="show_user_menu"></i>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="line"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover" id="syllabi">
				<tr class="active">
					<th>Title</th>
					<th>Department</th>
					<th>Course Number</th>
					<th>Section Number</th>
					<th>Course Type</th>
					<th>Term</th>
					<th>Location</th>
					<th></th>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-default" id="add_syllabus">Add Syllabus</button>
		</div>
	</div>
</div>
