<ul id="user_profile">
  <li><%= user.get("first_name") + ' ' + user.get("last_name")%></li>
  <li><%= user.get("school") %></li>
  <li><%= user.get("office") %></li>
</ul>

<button class="btn btn-default" id="add_syllabus">Add Syllabus</button>