// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #707070;
	font-size: 16px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.editable {
	font-size: 12px;
}

.editable h1 {
	font-size: 30px;
}

.editable h2 {
	font-size: 24px;
}

.editable h3 {
	font-size: 18px;
}

.editable h4 {
	font-size: 14px;
}

::-webkit-selection, ::selection {
	background: #8BCA76;
	color: #FFFFFF;
}

.error {
       border-color: DarkRed;
       font-color: Black;
}

.error-text {
	    color: DarkRed;
	    font-size: 14px;
	    padding-bottom: 0%;
	    float:right;

}

.accent {
	color: #6CBC51 !important;
}

.delete {
	color: #D9534F !important;
}

.highlight {
	opacity: .5;
}

#syllabest {
	font-family: "Courier New";
	color: #707070;
	margin-top: 5%;
}

#account {
	text-align: right;
	white-space: nowrap;
	padding-top: 6%;
	margin-right: 2%;
	cursor: pointer;
}

#show_user_menu {
	margin-left: 5px;
}

#navbar {
	margin-top: 6%;
	font-size: 20px;
}

#sections_tab {
	margin-left: 10%;
}

#syllabus_tab, #students_tab, #sections_tab {
	cursor: pointer;
}

#syllabus_tab {
	margin-left: 10%;
}

#line {
	background-color: #6CBC51;
	width: 100%;
	height: 1px;
	//margin-top: 40px;
}

#back_button_row {
	margin-top: -0.8%;
}



#users, #syllabi, #students {
	margin-top: 2%;
}

#users tbody>tr>th, #syllabi tbody>tr>th, #students tbody>tr>th {
	color:#6CBC51;
	padding-bottom: 20px;
	border-top: none;
}

#users tbody>tr>td, #syllabi tbody>tr>td, #students tbody>tr>td {
	border-top: none;
}

#components .table {
	margin-bottom: 0px;
}

#new_user, #new_syllabus {
	margin-top: 2%;
}

#view_syllabus {
	margin-left: 12%;
}

.syllabutton {
	color: #909090;
	background-color: transparent;
	border-color: #A0A0A0;
	border-radius: 6px;
}

.syllabutton:hover {
	color: #909090;
	border-color: #6CBC51;
}

.syllabutton:active {
	color: #909090 !important;
	outline-style: none !important;
}

.date_label {
	margin-top: 1%;
}

#add_user, #add_syllabus {
	margin-left: .5%;
}

#add_student {
	margin-left: 1.5%;
}

td button {
	margin-top: -2%;
}

#destroy_syllabus {
	margin-top: -5%;
	color: #C0C0C0;
	cursor: pointer;
}

.form_button_group {
	margin-top: 2%;
	margin-left: 17%;
}

.form-control::-webkit-input-placeholder {
	color: #909090;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="time"]:focus {
	border-color: #6CBC51;
}

#back_arrow, #pencil, #pdf_icon {
	margin-right: 8px;
}

#back_button, #edit_button, #pdf_button {
	font-size: 18px;
	white-space: nowrap;
	cursor: pointer;
}

#back, #pdf {
	margin-top: 2%;
}

#pencil {
	margin-top: 5%;
}

#right_side {
	text-align: right;
}

#back {
	text-align: left;
}

#pdf {
	text-align: center;
}

#syllabus {
	height: 100%;
	padding-bottom: 92%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	border: 1px solid #909090;
	border-radius: 30px;
	color: black;
}

#syllabus.editable {
	margin-top: 1.6%;
}

#syllabus.shrunken {
	animation-duration: .35s;
	animation-name: shrink;
}

#syllabus.expanded {
	animation-duration: .25s;
	animation-name: grow;
}

@keyframes shrink {
	from {
		width: 150%;
	}
	to {
		width: 100%;
	}
}

@keyframes grow {
	from {
		width: 66%;
		margin-left: 0%;
	}
	to {
		width: 100%;
		margin-left: 0%;
	}
}

.scrolling {
	overflow-y: auto !important;
}

.select {
    outline-color: #6CBC51 !important;
}

#header {
	width: 100%;
	text-align: center;
}

#instructor {
	margin-left: 2%;
	margin-right: 2%;
	text-align: left;
}

#instructor p {
	margin-bottom: 0;
}

.ilabel {
	font-weight: bold;
}

.component {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	text-align: left;
	background-color: #FFFFFF;
	outline-color: #C0C0C0;
	outline-style: hidden;
	outline-width: 1px;
	overflow: hidden;
}

#syllabus.editable .component {
	cursor: pointer;
}

#calrow3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#tablerow3 {
	margin-bottom: 10px;
}

.component.new label {
	color: #6CBC51;
}

.component.new h4 {
	font-weight: bold;
	color: #6CBC51;
}

.day {
	color: #707070;
}

.component .component-title {
	font-weight: bold;
}

.component-body[placeholder]:empty:before, .component-title[placeholder]:empty:before {
	content: attr(placeholder);
	color: #C0C0C0;
	white-space: pre-wrap; 
}

.delete_col {
	text-align:right;
}

.delete_component {
	cursor: pointer;
	color: #C0C0C0;
	margin-right: 7%;
	display: none;
}

.toggle_grid {
	cursor: pointer;
	color: #C0C0C0;
	display: none;
	margin-right: 7%;
}

.border_visible {
	border: 1px solid #C0C0C0 !important;
}

.border_hidden {
	border: 1px solid #FFFFFF !important;
}

.show_component_icon {
	display: inline !important;
}

.show_component_outline {
	outline-style: solid !important;
}

[contenteditable=true]:focus {
	outline: none;
	cursor: text;
}

@keyframes slidein {
	from {
		margin-left: 110%;
	}
	to {
		margin-left: 0%;
	}
}

#edit_tab.slide {
	animation-duration: .35s;
	animation-name: slidein;
}

#edit_tab {
	height: 100%;
	padding-bottom: 89%;
	background-color: #6CBC51;
	text-align: center;
	color: #FFFFFF;
}

#header_options {
	text-align: left;
}

.header_option_left {
	margin-left: 30%;

}

.header_option_right {
	margin-left: 15%;
}

#header_option_title_left {
	margin-left: 18%;
	margin-bottom: 10%;
}

#header_option_title_right {
	margin-left: 4%;
	margin-bottom: 10%;
}

#cancel_edit {
	text-align: right;
}

#cancel_edit_button {
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
}

#new_component_label, #header_label {
	margin-top: 15%;
	margin-bottom: 10%;
	font-weight: normal;
}

#new_plaintext, #new_table, #new_calendar {
	margin-top: 10%;
}

#new_plaintext_button, #new_table_button, #new_calendar_button {
	cursor: -webkit-grab;
}

#destroy_student {
	cursor: pointer;
}

#destroy_student:hover {
	color: #6CBC51;
}