// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	color: #707070;
	font-size: 16px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

::-webkit-selection, ::selection {
	background: #8BCA76;
	color: #FFFFFF;
}

.error {
       border-color: DarkRed;
       font-color: Black;
}

.error-text {
	    color: DarkRed;
	    font-size: 14px;
	    padding-bottom: 0%;
	    float:right;

}

.accent {
	color: #6CBC51;
}

.delete {
	color: #D9534F !important;
}

.highlight {
	opacity: .5;
}

#syllabest {
	font-family: "Courier New";
	color: #707070;
	padding-top: 4%;
}

#account {
	text-align: right;
	white-space: nowrap;
	padding-top: 6%;
}

#show_user_menu {
	margin-left: 5px;
}

#line {
	background-color: #6CBC51;
	width: 100%;
	height: 1px;
	margin-top: 40px;
}

#users, #syllabi {
	margin-top: 2%;
}

#users tbody>tr>th, #syllabi tbody>tr>th {
	color:#6CBC51;
}

.table>tbody>tr>th {
	border-top: none;
	padding-bottom: 20px;
}

.table>tbody>tr>td {
	border-top: none;
}

#new_user, #new_syllabus {
	margin-top: 2%;
}

.btn {
	border-radius: 6px;
}

.btn-default {
	color: #707070;
}

#submit_form, #submit_syllabus, #add_user, #add_syllabus, #submit_table {
	color: #6CBC51;
	border-color: #6CBC51;
}

#submit_table {
	margin-top: 2%;
}

#add_user, #add_syllabus {
	margin-left: .5%;
}

#cancel_form, #cancel_syllabus {
	color: #D9534F;
	border-color: #D9534F;
}

.form_button_group {
	margin-top: 2%;
	margin-left: 17%;
}

.form-control::-webkit-input-placeholder {
	color: #909090;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus {
	border-color: #6CBC51;
}

input[type="checkbox"]:checked {
	//-webkit-appearance: none;
}

#back_arrow, #pencil {
	margin-right: 8px;
}

#back_button, #edit_button {
	font-size: 20px;
	white-space: nowrap;
	cursor: pointer;
}

#right_side {
	text-align: right;
}

#back {
	text-align: left;
}

#syllabus {
	height: 1000px;
	width: 95%;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #909090;
	border-radius: 30px;
	color: black;
	//font-family: "Baskerville";
}

.scrolling {
	overflow-y: auto !important;
}

.select {
    outline-color: #6CBC51 !important;
}

#header {
	width: 100%;
	text-align: center;
}

.component {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	text-align: left;
	cursor: pointer;
	background-color: #FFFFFF;
	outline-color: #C0C0C0;
	outline-style: hidden;
	outline-width: 1px;
	overflow: hidden;
}

#component_box {
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;
	border: 3px dashed #6CBC51;
	border-radius: 8px;
}

.component .component-title {
	font-weight: bold;
}

.component-body[placeholder]:empty:before, .component-title[placeholder]:empty:before {
	content: attr(placeholder);
	color: #C0C0C0;
}

.delete_col {
	text-align:right;
}

.delete_component {
	cursor: pointer;
	color: #C0C0C0;
	margin-right: 7%;
	display: none;
}

.show_delete {
	display: inline !important;
}

.show_component_outline {
	outline-style: solid !important;
}

[contenteditable=true]:focus {
	outline: none;
	cursor: text;
}

#edit_tab {
	height: 1050px;
	background-color: #6CBC51;
	text-align: center;
	color: #FFFFFF;
}

#header_options {
	text-align: left;
}

.header_option_left {
	margin-left: 30%;
}

.header_option_right {
	margin-left: 15%;
}

#cancel_edit {
	text-align: right;
}

#cancel_edit_button {
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
}

#new_component_label, #header_label {
	margin-top: 15%;
	margin-bottom: 10%;
	font-weight: normal;
}

#new_plaintext, #new_table, #new_calendar {
	margin-top: 10%;
}

#new_plaintext_button, #new_table_button, #new_calendar_button {
	cursor: -webkit-grab;
}