#syllabest {
	text-align: center;
}

.user_prompt {
	margin-top: 5%;
}

#new_account {
	margin-top: 2%;
}

#sign_in, #get_started {
	cursor: pointer;
}

#sign_in_row {
	margin-top: 2%;
}

a {
	color: #6CBC51;
}

a:hover {
	color: #8BCA76;
	text-decoration: none;
}