#syllabest {
	text-align: center;
}

.user_prompt {
	margin-top: 5%;
}

#new_account {
	margin-top: 2%;
}

#sign_in, #get_started {
	cursor: pointer;
}

#sign_in_row {
	margin-top: 2%;
}

a, a:active, a:visited, a:link  {
	color: #6CBC51;
	text-decoration: none;
}

a:hover{
	color: #8BCA76;
}

.syllabutton {
	margin-left: 26.5% !important;
}

.control-label {
	text-align: left !important;
	font-weight: normal !important;
}